<% provide :title, "This is the about page" %>

<div class="jumbotron">
    <h1>About us</h1>
    <p>This is just a simple micro-blogging site,
    where you can post and interact with other
    people.</p>
</div>
